:root {
  --c-surface: #49454f;
  --c-background: #1c1b1f;
  --c-on-surface: #fff;
  --c-on-surface-variant: #cac4d0;
  --c-on-background: #fff;
  --c-on-background-variant: #cac4d0;
  --s-hover: 0.16;
  --s-focus-visible: 0.2;
  --s-active: 0.2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:where(html) {
  font-family: -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

:where(a) {
  color: inherit;
  text-decoration: none;
}
