:root {
  --c-background: #202124;
  --c-on-background: #e8eaed;
  --c-on-background-variant: #bdc1c6;
  --s-hover: 0.16;
  --s-focus-visible: 0.2;
  --s-active: 0.2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:where(html) {
  font-family: -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

:where(a) {
  color: #8ab4f8;
  text-decoration: none;
}

:where(a:visited) {
  color: #c58af9;
}

:where(a:hover) {
  text-decoration: underline;
}
